//Colors

//primary colors
$brainFlix-Black: #323232;
$brainFlix-Blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;

//secondary colors
$brainFlix-DarkBlue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

//error corlor
$errorState: #D22D2D;