@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;
//main component
.main {
  padding: 1.5rem 1rem;
  @include tablet {
    padding: 2rem 1.5rem;
  }
  @include desktop {
    padding-top: 0;
    max-width: 63.75rem;
    margin: auto;
    display: flex;
  }
}
