@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/colors' as *;

.stats {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  @extend .m-copy;
  color: $silver;
  @include tablet {
    padding-bottom: 0;
    font-size: $body-copy-size;
    line-height: $body-copy-height;
  }
}
